# Estudio sobre los datos del dataset original para la toma de decisiones

####  Run this cell to set up and start your interactive session.

In [1]:
%idle_timeout 2880
%glue_version 3.0
%worker_type G.1X
%number_of_workers 5

import sys
from awsglue.transforms import *
from awsglue.utils import getResolvedOptions
from pyspark.context import SparkContext
from awsglue.context import GlueContext
from awsglue.job import Job
from pyspark.sql.functions import *
  
sc = SparkContext.getOrCreate()
glueContext = GlueContext(sc)
spark = glueContext.spark_session
job = Job(glueContext)

Welcome to the Glue Interactive Sessions Kernel
For more information on available magic commands, please type %help in any new cell.

Please view our Getting Started page to access the most up-to-date information on the Interactive Sessions kernel: https://docs.aws.amazon.com/glue/latest/dg/interactive-sessions.html
Installed kernel version: 0.37.0
Current idle_timeout is 2800 minutes.
idle_timeout has been set to 2880 minutes.
Setting Glue version to: 3.0
Previous worker type: G.1X
Setting new worker type to: G.1X
Previous number of workers: 5
Setting new number of workers to: 5
Authenticating with environment variables and user-defined glue_role_arn: arn:aws:iam::114652167878:role/Glue_Role_Grupo5
Trying to create a Glue session for the kernel.
Worker Type: G.1X
Number of Workers: 5
Session ID: 18b6ffc6-2c64-41f8-8eb2-42d7b3de8567
Job Type: glueetl
Applying the following default arguments:
--glue_kernel_version 0.37.0
--enable-glue-datacatalog true
Waiting for session 18b6ffc6-2c64-41f8-8eb2-42d7b3de8567 to get into ready status...
Session 18b6ffc6-2c64-41f8-8eb2-42d7b3de8567 has been created.

### Carga de los ficheros del dataset para exploracion

In [3]:
df_users = (
    spark.read
    .format("csv")
    .option("header", "true")
    .option("delimiter",'\t')
    .load("s3://pr2-grupo3-rodaan-raw-layer/data/user/userid-profile.tsv")
)
df_users.show()

+-----------+------+----+------------------+------------+
|        #id|gender| age|           country|  registered|
+-----------+------+----+------------------+------------+
|user_000001|     m|null|             Japan|Aug 13, 2006|
|user_000002|     f|null|              Peru|Feb 24, 2006|
|user_000003|     m|  22|     United States|Oct 30, 2005|
|user_000004|     f|null|              null|Apr 26, 2006|
|user_000005|     m|null|          Bulgaria|Jun 29, 2006|
|user_000006|  null|  24|Russian Federation|May 18, 2006|
|user_000007|     f|null|     United States|Jan 22, 2006|
|user_000008|     m|  23|          Slovakia|Sep 28, 2006|
|user_000009|     f|  19|     United States|Jan 13, 2007|
|user_000010|     m|  19|            Poland| May 4, 2006|
|user_000011|     m|  21|           Finland| Sep 8, 2005|
|user_000012|     f|  28|     United States|Mar 30, 2005|
|user_000013|     f|  25|           Romania|Sep 25, 2006|
|user_000014|  null|null|              null|Jan 27, 2006|
|user_000015|  null|  21|     Cote D'Ivoire| Oct 3, 2006|
|user_000016|     m|null|    United Kingdom| Aug 5, 2005|
|user_000017|     m|  22|           Morocco|Aug 27, 2007|
|user_000018|  null|  22|    United Kingdom|Aug 26, 2005|
|user_000019|     f|  29|            Mexico|Nov 10, 2005|
|user_000020|     f|  27|           Germany|Jul 24, 2006|
+-----------+------+----+------------------+------------+
only showing top 20 rows

In [4]:
df_countries = (
    spark.read
    .format("csv")
    .option("header", "true")
    .load("s3://pr2-grupo3-rodaan-raw-layer/data/country/paises.csv")
)
df_countries.show()

+--------------------+--------------------+--------------------+-----+-----+-----------+-------------------+
|              nombre|                name|                 nom| iso2| iso3| phone_code|         continente|
+--------------------+--------------------+--------------------+-----+-----+-----------+-------------------+
|          Afganistán|         Afghanistan|         Afghanistan|   AF|  AFG|         93|               Asia|
|             Albania|             Albania|             Albanie|   AL|  ALB|        355|             Europa|
|            Alemania|             Germany|           Allemagne|   DE|  DEU|         49|             Europa|
|             Algeria|             Algeria|             Algérie|   DZ|  DZA|        213|             África|
|             Andorra|             Andorra|             Andorra|   AD|  AND|        376|             Europa|
|              Angola|              Angola|              Angola|   AO|  AGO|        244|             África|
|             Anguila|            Anguilla|            Anguilla|   AI|  AIA|      1 264|            América|
|           Antártida|          Antarctica|       L'Antarctique|   AQ|  ATA|        672|          Antártida|
|   Antigua y Barbuda| Antigua and Barbuda|  Antigua et Barbuda|   AG|  ATG|      1 268|            América|
|Antillas Neerland...|Netherlands Antilles|Antilles Néerland...|   AN|  ANT|        599|            América|
|      Arabia Saudita|        Saudi Arabia|     Arabie Saoudite|   SA|  SAU|        966|               Asia|
|           Argentina|           Argentina|           Argentine|   AR|  ARG|         54|            América|
|             Armenia|             Armenia|           L'Arménie|   AM|  ARM|        374|               Asia|
|               Aruba|               Aruba|               Aruba|   AW|  ABW|        297|            América|
|           Australia|           Australia|           Australie|   AU|  AUS|         61|Australia y Oceanía|
|             Austria|             Austria|            Autriche|   AT|  AUT|         43|             Europa|
|           Azerbayán|          Azerbaijan|       L'Azerbaïdjan|   AZ|  AZE|        994|               Asia|
|             Bélgica|             Belgium|            Belgique|   BE|  BEL|         32|             Europa|
|             Bahamas|             Bahamas|             Bahamas|   BS|  BHS|      1 242|            América|
|             Bahrein|             Bahrain|             Bahreïn|   BH|  BHR|        973|               Asia|
+--------------------+--------------------+--------------------+-----+-----+-----------+-------------------+
only showing top 20 rows

In [4]:
df_users_facts = (
    spark.read
    .format("csv")
    .option("delimiter",'\t')
    .load("s3://pr2-grupo3-rodaan-raw-layer/data/user/userid-timestamp-artid-artname-traid-traname.tsv")
)
df_users_facts.show()

+-----------+--------------------+--------------------+---------------+--------------------+--------------------+
|        _c0|                 _c1|                 _c2|            _c3|                 _c4|                 _c5|
+-----------+--------------------+--------------------+---------------+--------------------+--------------------+
|user_000001|2009-05-04T23:08:57Z|f1b1cf71-bd35-4e9...|      Deep Dish|                null|Fuck Me Im Famous...|
|user_000001|2009-05-04T13:54:10Z|a7f7df4a-77d8-4f1...|       坂本龍一|                null|Composition 0919 ...|
|user_000001|2009-05-04T13:52:04Z|a7f7df4a-77d8-4f1...|       坂本龍一|                null|Mc2 (Live_2009_4_15)|
|user_000001|2009-05-04T13:42:52Z|a7f7df4a-77d8-4f1...|       坂本龍一|                null|Hibari (Live_2009...|
|user_000001|2009-05-04T13:42:11Z|a7f7df4a-77d8-4f1...|       坂本龍一|                null|Mc1 (Live_2009_4_15)|
|user_000001|2009-05-04T13:38:31Z|a7f7df4a-77d8-4f1...|       坂本龍一|                null|To Stanford (Live...|
|user_000001|2009-05-04T13:33:28Z|a7f7df4a-77d8-4f1...|       坂本龍一|                null|Improvisation (Li...|
|user_000001|2009-05-04T13:23:45Z|a7f7df4a-77d8-4f1...|       坂本龍一|                null|Glacier (Live_200...|
|user_000001|2009-05-04T13:19:22Z|a7f7df4a-77d8-4f1...|       坂本龍一|                null|Parolibre (Live_2...|
|user_000001|2009-05-04T13:13:38Z|a7f7df4a-77d8-4f1...|       坂本龍一|                null|Bibo No Aozora (L...|
|user_000001|2009-05-04T13:06:09Z|a7f7df4a-77d8-4f1...|       坂本龍一|f7c1f8f8-b935-45e...|The Last Emperor ...|
|user_000001|2009-05-04T13:00:48Z|a7f7df4a-77d8-4f1...|       坂本龍一|                null|Happyend (Live_20...|
|user_000001|2009-05-04T12:55:34Z|a7f7df4a-77d8-4f1...|       坂本龍一|475d4e50-cebb-4cd...|Tibetan Dance (Ve...|
|user_000001|2009-05-04T12:51:26Z|a7f7df4a-77d8-4f1...|       坂本龍一|                null|Behind The Mask (...|
|user_000001|2009-05-03T15:48:25Z|ba2f4f3b-0293-4bc...|     Underworld|dc394163-2b78-4b5...|Boy, Boy, Boy (Sw...|
|user_000001|2009-05-03T15:37:56Z|ba2f4f3b-0293-4bc...|     Underworld|340d9a0b-9a43-409...|Crocodile (Innerv...|
|user_000001|2009-05-03T15:14:53Z|a16e47f5-aa54-47f...|Ennio Morricone|0b04407b-f517-4e0...|Ninna Nanna In Bl...|
|user_000001|2009-05-03T15:10:18Z|463a94f1-2713-40b...|        Minus 8|4e78efc4-e545-47a...|      Elysian Fields|
|user_000001|2009-05-03T15:04:31Z|ad0811ea-e213-451...|      Beanfield|fb51d2c4-cc69-412...|  Planetary Deadlock|
|user_000001|2009-05-03T14:56:25Z|309e2dfc-678e-4d0...|       Dj Linus|4277434f-e3c2-41a...|Good Morning Love...|
+-----------+--------------------+--------------------+---------------+--------------------+--------------------+
only showing top 20 rows

In [5]:
df_horoscopes = (
    spark.read
    .format("csv")
    .option("header", "true")
    .option("delimiter",',')
    .load("s3://pr2-grupo3-rodaan-raw-layer/data/horoscope/Horoscope.csv")
)
df_horoscopes.show()

+---------+------+---+-----+
|Horoscope|  Date|Day|Month|
+---------+------+---+-----+
|Capricorn| 1-Jan|  1|    1|
|Capricorn| 2-Jan|  2|    1|
|Capricorn| 3-Jan|  3|    1|
|Capricorn| 4-Jan|  4|    1|
|Capricorn| 5-Jan|  5|    1|
|Capricorn| 6-Jan|  6|    1|
|Capricorn| 7-Jan|  7|    1|
|Capricorn| 8-Jan|  8|    1|
|Capricorn| 9-Jan|  9|    1|
|Capricorn|10-Jan| 10|    1|
|Capricorn|11-Jan| 11|    1|
|Capricorn|12-Jan| 12|    1|
|Capricorn|13-Jan| 13|    1|
|Capricorn|14-Jan| 14|    1|
|Capricorn|15-Jan| 15|    1|
|Capricorn|16-Jan| 16|    1|
|Capricorn|17-Jan| 17|    1|
|Capricorn|18-Jan| 18|    1|
|Capricorn|19-Jan| 19|    1|
| Aquarius|20-Jan| 20|    1|
+---------+------+---+-----+
only showing top 20 rows

#### El nombre de las columnas de countries tienen errores tipograficos

In [9]:
df_countries.columns

['nombre', ' name', ' nom', ' iso2', ' iso3', ' phone_code', 'continente']

In [5]:
df_countries_refined_names = (
    df_countries
    .withColumnRenamed(' name', "country")
    .withColumnRenamed(' iso2', 'iso2')
    .withColumnRenamed(' iso3', 'iso3')
    .withColumnRenamed(' nom', 'nom')
    .withColumnRenamed(' phone_code', 'phone_code')
)

#### Tendremos que insertar el nombre del continente en ingles para normalizar los datos

In [6]:
df_countries_english_names = (
        df_countries_refined_names
        .withColumn("continent",when( expr("continente == 'Europa'"), "Europe"  )
                   .when( expr("continente == 'África'"), "Africa"  )
                   .when( expr("continente == 'Australia y Oceanía'"), "Australia and Oceania"  )
                   .when( expr("continente == 'América'"), "America"  )
                   .when( expr("continente == 'Antártida'"), "Antarctica"  )
                   .otherwise( col("continente") ))
        .withColumnRenamed("nombre","pais")
)

### Comprobar si existen paises del dataset de usuarios que no esten en el dataset de paises

#### Existen 5 paises de usuarios que no aparecen en el dataset de paises

In [7]:
df_antijoin_users_countries = (
    df_users
    .join(df_countries_refined_names,"country","leftanti")
    .select("country")
    .distinct()
    .show(truncate = False)
)

+--------------------------------------+
|country                               |
+--------------------------------------+
|Cote D'Ivoire                         |
|Korea, Democratic People's Republic of|
|United States                         |
|Congo, the Democratic Republic of the |
|null                                  |
|Russian Federation                    |
+--------------------------------------+

## Se necesitara ajustar los registros del dataframe de paises y users para que crucen por pais
### Eliminar uno de los dos congos ya que no presentan diferencias utiles
### Para evitar registros duplicados en el cruce

In [18]:
df_countries_english_names.where(col("country") == "Congo").show()

+-----+-------+-----+----+----+----------+----------+---------+
| pais|country|  nom|iso2|iso3|phone_code|continente|continent|
+-----+-------+-----+----+----+----------+----------+---------+
|Congo|  Congo|Congo|  CG| COG|       242|    África|   Africa|
|Congo|  Congo|Congo|  CD| COD|       243|    África|   Africa|
+-----+-------+-----+----+----+----------+----------+---------+

#### Generacion de un campo de cruce dentro del dataset de usuarios que ajusta el nombre de los paises que era diferente al que esta guardado en paises

In [17]:
df_users_refined = (
    df_users
    .withColumn("country_name", when( expr("country like 'Congo%'"),"Congo" )
                .when( expr("country like 'Korea, Democratic%'"),"South Korea" )
                .when( expr("country like 'Russian%'"),"Russia" )
                .when( expr("country like 'United States%'"),"United States of America" )
                .when( expr("country like 'Cote D%Ivoire%'"),"Ivory Coast" )
                .otherwise(col("country")) )
)

In [18]:
df_countries_reduce_rows = (
    df_countries_english_names
    .drop("iso2","iso3","phone_code","nom")
)

In [20]:
df_countries_union.where(col("country") == "Congo").show()

+-----+-------+----------+---------+
| pais|country|continente|continent|
+-----+-------+----------+---------+
|Congo|  Congo|    África|   Africa|
|Congo|  Congo|    África|   Africa|
+-----+-------+----------+---------+

In [19]:
df_countries_drop_duplicates = (
    df_countries_reduce_rows
    .dropDuplicates()
    
)
df_countries_drop_duplicates.where(col("country") == "Congo").show()

+-----+-------+----------+---------+
| pais|country|continente|continent|
+-----+-------+----------+---------+
|Congo|  Congo|    África|   Africa|
+-----+-------+----------+---------+

#### Es importante conocer cuales son los paises que no tienen continente para diferenciar entre la no existencia del dato o que realmente son paises sin continente geografico

In [22]:
df_countries_drop_duplicates.where(col("continente").isNull()).show(truncate= False)

+--------------------------------------------+------------------------------------+----------+---------+
|pais                                        |country                             |continente|continent|
+--------------------------------------------+------------------------------------+----------+---------+
|Islas Ultramarinas Menores de Estados Unidos|United States Minor Outlying Islands|null      |null     |
|Territorios Australes y Antárticas Franceses|French Southern Territories         |null      |null     |
|Territorio Británico del Océano Índico      |British Indian Ocean Territory      |null      |null     |
+--------------------------------------------+------------------------------------+----------+---------+

#### Todos los registros pertenecen a paises hechos por islas que no tienen un continente greografico
#### Para marcar esto y diferenciarlo de la ausencia del dato, se genera un valor que lo diferencia ("Sin continente")

In [20]:
df_countries_curated = (
    df_countries_drop_duplicates
    .withColumn("continente",
                when( expr("continente is NULL"),"Sin continente" )
                .otherwise(col("continente")) )
    .withColumn("continent",
                when( expr("continent is NULL"),"Without continent" )
                .otherwise(col("continente")) )
)
df_countries_curated.where(col("continente").isNull()).show(truncate= False)

+----+-------+----------+---------+
|pais|country|continente|continent|
+----+-------+----------+---------+
+----+-------+----------+---------+

### Ahora todo cuadra perfectamente

In [22]:
df_antijoin_users_countries = (
    df_users_refined
    .join(df_countries_curated,  df_users_refined.country_name==df_countries_curated.country,"leftanti")
    .select("country")
    .distinct()
    .show()
)

+-------+
|country|
+-------+
|   null|
+-------+

In [23]:
df_countries_curated.where("country = 'Ivory Coast'").show()

+---------------+-----------+----------+---------+
|           pais|    country|continente|continent|
+---------------+-----------+----------+---------+
|Costa de Marfil|Ivory Coast|    África|   África|
+---------------+-----------+----------+---------+

## Limpiar los campos de users
### Registros con todos los campos nulos -> eliminados
### Registros con fecha formateados

In [11]:
df_users_refined.show()

+-----------+------+----+------------------+------------+--------------------+
|        #id|gender| age|           country|  registered|        country_name|
+-----------+------+----+------------------+------------+--------------------+
|user_000001|     m|null|             Japan|Aug 13, 2006|               Japan|
|user_000002|     f|null|              Peru|Feb 24, 2006|                Peru|
|user_000003|     m|  22|     United States|Oct 30, 2005|United States of ...|
|user_000004|     f|null|              null|Apr 26, 2006|                null|
|user_000005|     m|null|          Bulgaria|Jun 29, 2006|            Bulgaria|
|user_000006|  null|  24|Russian Federation|May 18, 2006|              Russia|
|user_000007|     f|null|     United States|Jan 22, 2006|United States of ...|
|user_000008|     m|  23|          Slovakia|Sep 28, 2006|            Slovakia|
|user_000009|     f|  19|     United States|Jan 13, 2007|United States of ...|
|user_000010|     m|  19|            Poland| May 4, 2006|              Poland|
|user_000011|     m|  21|           Finland| Sep 8, 2005|             Finland|
|user_000012|     f|  28|     United States|Mar 30, 2005|United States of ...|
|user_000013|     f|  25|           Romania|Sep 25, 2006|             Romania|
|user_000014|  null|null|              null|Jan 27, 2006|                null|
|user_000015|  null|  21|     Cote D'Ivoire| Oct 3, 2006|       Cote D'Ivoire|
|user_000016|     m|null|    United Kingdom| Aug 5, 2005|      United Kingdom|
|user_000017|     m|  22|           Morocco|Aug 27, 2007|             Morocco|
|user_000018|  null|  22|    United Kingdom|Aug 26, 2005|      United Kingdom|
|user_000019|     f|  29|            Mexico|Nov 10, 2005|              Mexico|
|user_000020|     f|  27|           Germany|Jul 24, 2006|             Germany|
+-----------+------+----+------------------+------------+--------------------+
only showing top 20 rows

In [42]:
count_distinct = df_users_refined.select("#id").distinct().count()
count = df_users_refined.select("#id").count()
print(f"El numero de usuarios distintos es {count_distinct} y el numero total es {count}")

El numero de usuarios distintos es 992 y el numero total es 992

In [43]:
count = df_users_refined.where("registered is null").count()
print(f"El numero de usuarios sin fecha de registro es {count}")

El numero de usuarios sin fecha de registro es 8

#### Estos registros se eliminara durante la etl
#### Al no tener fecha de registro y ningun datos util, se consideran datos corruptos por lo que no son utiles para analizar

In [18]:
df_users_refined.where("registered is null").show()

+-----------+------+----+-------+----------+------------+
|        #id|gender| age|country|registered|country_name|
+-----------+------+----+-------+----------+------------+
|user_000030|  null|null|   null|      null|        null|
|user_000129|  null|null|   null|      null|        null|
|user_000174|  null|null|   null|      null|        null|
|user_000353|  null|null|   null|      null|        null|
|user_000588|  null|null|   null|      null|        null|
|user_000734|  null|null|   null|      null|        null|
|user_000806|  null|null|   null|      null|        null|
|user_000976|  null|null|   null|      null|        null|
+-----------+------+----+-------+----------+------------+

In [9]:
df_users_without_values = df_users_refined.where("registered is null")

##### Usuarios sin pais registrado

In [22]:
(
    df_users_refined
    .where("country is null and registered is not null")
    .show(truncate = False)
    
)
total = (
    df_users_refined
    .where("country is null and registered is not null")
    .count() 
)
print(f"El total de usuarios sin pais registrado es: {total}")

+-----------+------+----+-------+------------+------------+
|#id        |gender|age |country|registered  |country_name|
+-----------+------+----+-------+------------+------------+
|user_000004|f     |null|null   |Apr 26, 2006|null        |
|user_000014|null  |null|null   |Jan 27, 2006|null        |
|user_000049|null  |null|null   |Jan 11, 2006|null        |
|user_000061|null  |null|null   |Apr 29, 2007|null        |
|user_000068|null  |null|null   |Oct 16, 2009|null        |
|user_000077|null  |null|null   |Apr 24, 2006|null        |
|user_000080|null  |null|null   |Aug 28, 2006|null        |
|user_000086|f     |27  |null   |Sep 21, 2007|null        |
|user_000095|f     |4   |null   |Jan 27, 2006|null        |
|user_000126|f     |null|null   |Aug 3, 2006 |null        |
|user_000133|null  |null|null   |Jul 6, 2005 |null        |
|user_000146|null  |null|null   |Apr 4, 2007 |null        |
|user_000153|m     |33  |null   |Jan 24, 2005|null        |
|user_000171|null  |null|null   |Oct 29, 2002|null        |
|user_000183|m     |null|null   |Dec 29, 2006|null        |
|user_000200|null  |null|null   |Oct 20, 2006|null        |
|user_000216|f     |null|null   |Jan 21, 2007|null        |
|user_000220|f     |null|null   |Jul 27, 2006|null        |
|user_000229|null  |null|null   |Jan 5, 2005 |null        |
|user_000231|null  |null|null   |Aug 9, 2006 |null        |
+-----------+------+----+-------+------------+------------+
only showing top 20 rows

El total de usuarios sin pais registrado es: 77

#### Hay 77 usuarios que no tienen un pais registrado
#### La fecha de registro si que se informa
#### Se mantendran estos registros por si son utiles para el cliente, para analizarlos
#### Se dejaran fueran de los calculos de las kpis solicitadas

In [20]:
df_users_refined.show()

+-----------+------+----+------------------+------------+--------------------+
|        #id|gender| age|           country|  registered|        country_name|
+-----------+------+----+------------------+------------+--------------------+
|user_000001|     m|null|             Japan|Aug 13, 2006|               Japan|
|user_000002|     f|null|              Peru|Feb 24, 2006|                Peru|
|user_000003|     m|  22|     United States|Oct 30, 2005|United States of ...|
|user_000004|     f|null|              null|Apr 26, 2006|                null|
|user_000005|     m|null|          Bulgaria|Jun 29, 2006|            Bulgaria|
|user_000006|  null|  24|Russian Federation|May 18, 2006|              Russia|
|user_000007|     f|null|     United States|Jan 22, 2006|United States of ...|
|user_000008|     m|  23|          Slovakia|Sep 28, 2006|            Slovakia|
|user_000009|     f|  19|     United States|Jan 13, 2007|United States of ...|
|user_000010|     m|  19|            Poland| May 4, 2006|              Poland|
|user_000011|     m|  21|           Finland| Sep 8, 2005|             Finland|
|user_000012|     f|  28|     United States|Mar 30, 2005|United States of ...|
|user_000013|     f|  25|           Romania|Sep 25, 2006|             Romania|
|user_000014|  null|null|              null|Jan 27, 2006|                null|
|user_000015|  null|  21|     Cote D'Ivoire| Oct 3, 2006|       Cote D'Ivoire|
|user_000016|     m|null|    United Kingdom| Aug 5, 2005|      United Kingdom|
|user_000017|     m|  22|           Morocco|Aug 27, 2007|             Morocco|
|user_000018|  null|  22|    United Kingdom|Aug 26, 2005|      United Kingdom|
|user_000019|     f|  29|            Mexico|Nov 10, 2005|              Mexico|
|user_000020|     f|  27|           Germany|Jul 24, 2006|             Germany|
+-----------+------+----+------------------+------------+--------------------+
only showing top 20 rows

#### El formato de la fecha no es util ni para su almacenamiento ni para el procesamiento basados en cruces basados en el campo de registro
#### Se necesita formatear la fecha a un formato date util

In [23]:
def udf_date_convert(date):
    def right(s, amount):
        return s[-amount:]
    date_split = date.split(" ")
    new_date_list = []
    for i,value in enumerate(date_split):
        if i == 1:
            
            row = '0' + value.replace(",","")
            print(row)
            row = right(row,2)
            new_date_list.append(row)
        
        else:
            new_date_list.append(value)  
    if new_date_list[0] == 'Jan':
        value = '01'
    elif new_date_list[0] == 'Feb':
        value = '02'
    elif new_date_list[0] == 'Mar':
        value = '03'
    elif new_date_list[0] == 'Apr':
        value = '04'
    elif new_date_list[0] == 'May':
        value = '05'
    elif new_date_list[0] == 'Jun':
        value = '06'
    elif new_date_list[0] == 'Jul':
        value = '07'
    elif new_date_list[0] == 'Aug':
        value = '08'
    elif new_date_list[0] == 'Sep':
        value = '09'
    elif new_date_list[0] == 'Oct':
       value = '10'
    elif new_date_list[0] == 'Nov':
        value = '11'
    elif new_date_list[0] == 'Dec':
        value = '12'
    else:
        value = '00'
    return new_date_list[1] + '-' + str(value) + '-' + new_date_list[2]

conversion = udf(lambda z: udf_date_convert(z))      
df_users_date_conversion = df_users_refined.where(col("registered").isNotNull()).withColumn("register_date",conversion(col("registered")) )
df_users_curated = df_users_date_conversion.withColumn("registered_date", to_date(col("register_date"),"dd-MM-yyyy")) 
df_users_curated_final = df_users_curated.drop("register_date").withColumnRenamed("registered_date","register_date")
df_users_curated_final.show()

+-----------+------+----+------------------+------------+--------------------+-------------+
|        #id|gender| age|           country|  registered|        country_name|register_date|
+-----------+------+----+------------------+------------+--------------------+-------------+
|user_000001|     m|null|             Japan|Aug 13, 2006|               Japan|   2006-08-13|
|user_000002|     f|null|              Peru|Feb 24, 2006|                Peru|   2006-02-24|
|user_000003|     m|  22|     United States|Oct 30, 2005|United States of ...|   2005-10-30|
|user_000004|     f|null|              null|Apr 26, 2006|                null|   2006-04-26|
|user_000005|     m|null|          Bulgaria|Jun 29, 2006|            Bulgaria|   2006-06-29|
|user_000006|  null|  24|Russian Federation|May 18, 2006|              Russia|   2006-05-18|
|user_000007|     f|null|     United States|Jan 22, 2006|United States of ...|   2006-01-22|
|user_000008|     m|  23|          Slovakia|Sep 28, 2006|            Slovakia|   2006-09-28|
|user_000009|     f|  19|     United States|Jan 13, 2007|United States of ...|   2007-01-13|
|user_000010|     m|  19|            Poland| May 4, 2006|              Poland|   2006-05-04|
|user_000011|     m|  21|           Finland| Sep 8, 2005|             Finland|   2005-09-08|
|user_000012|     f|  28|     United States|Mar 30, 2005|United States of ...|   2005-03-30|
|user_000013|     f|  25|           Romania|Sep 25, 2006|             Romania|   2006-09-25|
|user_000014|  null|null|              null|Jan 27, 2006|                null|   2006-01-27|
|user_000015|  null|  21|     Cote D'Ivoire| Oct 3, 2006|       Cote D'Ivoire|   2006-10-03|
|user_000016|     m|null|    United Kingdom| Aug 5, 2005|      United Kingdom|   2005-08-05|
|user_000017|     m|  22|           Morocco|Aug 27, 2007|             Morocco|   2007-08-27|
|user_000018|  null|  22|    United Kingdom|Aug 26, 2005|      United Kingdom|   2005-08-26|
|user_000019|     f|  29|            Mexico|Nov 10, 2005|              Mexico|   2005-11-10|
|user_000020|     f|  27|           Germany|Jul 24, 2006|             Germany|   2006-07-24|
+-----------+------+----+------------------+------------+--------------------+-------------+
only showing top 20 rows

## Tratar las columnas de hechos de usuarios

#### Tras una exploración inicial se dan algunos nombres a los campos del fichero

In [25]:
df_user_facts_renamed = (
    df_users_facts
    .withColumnRenamed("_c1","fact_date")
    .withColumnRenamed("_c0","user_id")
    .withColumnRenamed("_c3","group_name")
    .withColumnRenamed("_c2","group_id")
    .withColumnRenamed("_c5","song_name")
    .withColumnRenamed("_c4","song_id")
)

#### Comprobar que son los campos con un valor hash identificativo

In [16]:
df_user_facts_renamed.where(col("group_name")=="Underworld").select("group_id","group_name").show(truncate=False)

+------------------------------------+----------+
|group_id                            |group_name|
+------------------------------------+----------+
|ba2f4f3b-0293-4bc8-bb94-2f73b5207343|Underworld|
|ba2f4f3b-0293-4bc8-bb94-2f73b5207343|Underworld|
|ba2f4f3b-0293-4bc8-bb94-2f73b5207343|Underworld|
|ba2f4f3b-0293-4bc8-bb94-2f73b5207343|Underworld|
|ba2f4f3b-0293-4bc8-bb94-2f73b5207343|Underworld|
|ba2f4f3b-0293-4bc8-bb94-2f73b5207343|Underworld|
|ba2f4f3b-0293-4bc8-bb94-2f73b5207343|Underworld|
|ba2f4f3b-0293-4bc8-bb94-2f73b5207343|Underworld|
|ba2f4f3b-0293-4bc8-bb94-2f73b5207343|Underworld|
|ba2f4f3b-0293-4bc8-bb94-2f73b5207343|Underworld|
|ba2f4f3b-0293-4bc8-bb94-2f73b5207343|Underworld|
|ba2f4f3b-0293-4bc8-bb94-2f73b5207343|Underworld|
|ba2f4f3b-0293-4bc8-bb94-2f73b5207343|Underworld|
|ba2f4f3b-0293-4bc8-bb94-2f73b5207343|Underworld|
|ba2f4f3b-0293-4bc8-bb94-2f73b5207343|Underworld|
|ba2f4f3b-0293-4bc8-bb94-2f73b5207343|Underworld|
|ba2f4f3b-0293-4bc8-bb94-2f73b5207343|Underworld|
|ba2f4f3b-0293-4bc8-bb94-2f73b5207343|Underworld|
|ba2f4f3b-0293-4bc8-bb94-2f73b5207343|Underworld|
|ba2f4f3b-0293-4bc8-bb94-2f73b5207343|Underworld|
+------------------------------------+----------+
only showing top 20 rows

In [17]:
df_user_facts_renamed.where(col("group_name")=="Underworld").select("group_id").distinct().show(truncate=False)

+------------------------------------+
|group_id                            |
+------------------------------------+
|ba2f4f3b-0293-4bc8-bb94-2f73b5207343|
+------------------------------------+

In [22]:
df_user_facts_renamed.where(col("song_name")=="Elysian Fields").select("song_id","song_name","group_name").show(truncate=False)

+------------------------------------+--------------+----------+
|song_id                             |song_name     |group_name|
+------------------------------------+--------------+----------+
|4e78efc4-e545-47af-9617-05ff816d86e2|Elysian Fields|Minus 8   |
|4e78efc4-e545-47af-9617-05ff816d86e2|Elysian Fields|Minus 8   |
|4e78efc4-e545-47af-9617-05ff816d86e2|Elysian Fields|Minus 8   |
|4e78efc4-e545-47af-9617-05ff816d86e2|Elysian Fields|Minus 8   |
|4e78efc4-e545-47af-9617-05ff816d86e2|Elysian Fields|Minus 8   |
|4e78efc4-e545-47af-9617-05ff816d86e2|Elysian Fields|Minus 8   |
|4e78efc4-e545-47af-9617-05ff816d86e2|Elysian Fields|Minus 8   |
|97c6a228-9cfc-4d89-af47-f280bf825bdc|Elysian Fields|Artemis   |
|057734be-6fc5-4b11-9466-06aea1a457a5|Elysian Fields|Monosphere|
|de86bd86-debd-4774-8c30-5a3caefa6275|Elysian Fields|Megadeth  |
|4e78efc4-e545-47af-9617-05ff816d86e2|Elysian Fields|Minus 8   |
|4e78efc4-e545-47af-9617-05ff816d86e2|Elysian Fields|Minus 8   |
|4e78efc4-e545-47af-9617-05ff816d86e2|Elysian Fields|Minus 8   |
|4e78efc4-e545-47af-9617-05ff816d86e2|Elysian Fields|Minus 8   |
|4e78efc4-e545-47af-9617-05ff816d86e2|Elysian Fields|Minus 8   |
|4e78efc4-e545-47af-9617-05ff816d86e2|Elysian Fields|Minus 8   |
|4e78efc4-e545-47af-9617-05ff816d86e2|Elysian Fields|Minus 8   |
|4e78efc4-e545-47af-9617-05ff816d86e2|Elysian Fields|Minus 8   |
|4e78efc4-e545-47af-9617-05ff816d86e2|Elysian Fields|Minus 8   |
|4e78efc4-e545-47af-9617-05ff816d86e2|Elysian Fields|Minus 8   |
+------------------------------------+--------------+----------+
only showing top 20 rows

In [27]:
df_user_facts_renamed.show(truncate=False)

+-----------+--------------------+------------------------------------+---------------+------------------------------------+------------------------------------------+
|user_id    |fact_date           |group_id                            |group_name     |song_id                             |song_name                                 |
+-----------+--------------------+------------------------------------+---------------+------------------------------------+------------------------------------------+
|user_000001|2009-05-04T23:08:57Z|f1b1cf71-bd35-4e99-8624-24a6e15f133a|Deep Dish      |null                                |Fuck Me Im Famous (Pacha Ibiza)-09-28-2007|
|user_000001|2009-05-04T13:54:10Z|a7f7df4a-77d8-4f12-8acd-5c60c93f4de8|坂本龍一       |null                                |Composition 0919 (Live_2009_4_15)         |
|user_000001|2009-05-04T13:52:04Z|a7f7df4a-77d8-4f12-8acd-5c60c93f4de8|坂本龍一       |null                                |Mc2 (Live_2009_4_15)                      |
|user_000001|2009-05-04T13:42:52Z|a7f7df4a-77d8-4f12-8acd-5c60c93f4de8|坂本龍一       |null                                |Hibari (Live_2009_4_15)                   |
|user_000001|2009-05-04T13:42:11Z|a7f7df4a-77d8-4f12-8acd-5c60c93f4de8|坂本龍一       |null                                |Mc1 (Live_2009_4_15)                      |
|user_000001|2009-05-04T13:38:31Z|a7f7df4a-77d8-4f12-8acd-5c60c93f4de8|坂本龍一       |null                                |To Stanford (Live_2009_4_15)              |
|user_000001|2009-05-04T13:33:28Z|a7f7df4a-77d8-4f12-8acd-5c60c93f4de8|坂本龍一       |null                                |Improvisation (Live_2009_4_15)            |
|user_000001|2009-05-04T13:23:45Z|a7f7df4a-77d8-4f12-8acd-5c60c93f4de8|坂本龍一       |null                                |Glacier (Live_2009_4_15)                  |
|user_000001|2009-05-04T13:19:22Z|a7f7df4a-77d8-4f12-8acd-5c60c93f4de8|坂本龍一       |null                                |Parolibre (Live_2009_4_15)                |
|user_000001|2009-05-04T13:13:38Z|a7f7df4a-77d8-4f12-8acd-5c60c93f4de8|坂本龍一       |null                                |Bibo No Aozora (Live_2009_4_15)           |
|user_000001|2009-05-04T13:06:09Z|a7f7df4a-77d8-4f12-8acd-5c60c93f4de8|坂本龍一       |f7c1f8f8-b935-45ed-8fc8-7def69d92a10|The Last Emperor (Theme)                  |
|user_000001|2009-05-04T13:00:48Z|a7f7df4a-77d8-4f12-8acd-5c60c93f4de8|坂本龍一       |null                                |Happyend (Live_2009_4_15)                 |
|user_000001|2009-05-04T12:55:34Z|a7f7df4a-77d8-4f12-8acd-5c60c93f4de8|坂本龍一       |475d4e50-cebb-4cd0-8cd4-c3df97987962|Tibetan Dance (Version)                   |
|user_000001|2009-05-04T12:51:26Z|a7f7df4a-77d8-4f12-8acd-5c60c93f4de8|坂本龍一       |null                                |Behind The Mask (Live_2009_4_15)          |
|user_000001|2009-05-03T15:48:25Z|ba2f4f3b-0293-4bc8-bb94-2f73b5207343|Underworld     |dc394163-2b78-4b56-94e4-658597a29ef8|Boy, Boy, Boy (Switch Remix)              |
|user_000001|2009-05-03T15:37:56Z|ba2f4f3b-0293-4bc8-bb94-2f73b5207343|Underworld     |340d9a0b-9a43-4098-b116-9f79811bd508|Crocodile (Innervisions Orchestra Mix)    |
|user_000001|2009-05-03T15:14:53Z|a16e47f5-aa54-47fe-87e4-bb8af91a9fdd|Ennio Morricone|0b04407b-f517-4e00-9e6a-494795efc73e|Ninna Nanna In Blu (Raw Deal Remix)       |
|user_000001|2009-05-03T15:10:18Z|463a94f1-2713-40b1-9c88-dcc9c0170cae|Minus 8        |4e78efc4-e545-47af-9617-05ff816d86e2|Elysian Fields                            |
|user_000001|2009-05-03T15:04:31Z|ad0811ea-e213-451d-b22f-fa1a7f9e0226|Beanfield      |fb51d2c4-cc69-4128-92f5-77ec38d66859|Planetary Deadlock                        |
|user_000001|2009-05-03T14:56:25Z|309e2dfc-678e-4d09-a7a4-8eab9525b669|Dj Linus       |4277434f-e3c2-41ae-9ce3-23fd157f9347|Good Morning Love Coffee Is Ready         |
+-----------+--------------------+------------------------------------+---------------+------------------------------------+------------------------------------------+
only showing top 20 rows

#### Todos los campos de fecha del hecho vienen informados
#### Es util guardarlos en un formato timestamp para optimizar almacenamiento y procesamiento

In [28]:
(
    df_user_facts_renamed
    .where(col("fact_date").isNull())
    .show(truncate=False)
)

+-------+---------+--------+----------+-------+---------+
|user_id|fact_date|group_id|group_name|song_id|song_name|
+-------+---------+--------+----------+-------+---------+
+-------+---------+--------+----------+-------+---------+

In [26]:
df_user_facts_formatted_date = (
        df_user_facts_renamed
        .select("*", to_timestamp("fact_date").alias("fact_timestamp"))
)

In [31]:
df_user_facts_formatted_date.show()

+-----------+--------------------+--------------------+---------------+--------------------+--------------------+-------------------+
|    user_id|           fact_date|            group_id|     group_name|             song_id|           song_name|     fact_timestamp|
+-----------+--------------------+--------------------+---------------+--------------------+--------------------+-------------------+
|user_000001|2009-05-04T23:08:57Z|f1b1cf71-bd35-4e9...|      Deep Dish|                null|Fuck Me Im Famous...|2009-05-04 23:08:57|
|user_000001|2009-05-04T13:54:10Z|a7f7df4a-77d8-4f1...|       坂本龍一|                null|Composition 0919 ...|2009-05-04 13:54:10|
|user_000001|2009-05-04T13:52:04Z|a7f7df4a-77d8-4f1...|       坂本龍一|                null|Mc2 (Live_2009_4_15)|2009-05-04 13:52:04|
|user_000001|2009-05-04T13:42:52Z|a7f7df4a-77d8-4f1...|       坂本龍一|                null|Hibari (Live_2009...|2009-05-04 13:42:52|
|user_000001|2009-05-04T13:42:11Z|a7f7df4a-77d8-4f1...|       坂本龍一|                null|Mc1 (Live_2009_4_15)|2009-05-04 13:42:11|
|user_000001|2009-05-04T13:38:31Z|a7f7df4a-77d8-4f1...|       坂本龍一|                null|To Stanford (Live...|2009-05-04 13:38:31|
|user_000001|2009-05-04T13:33:28Z|a7f7df4a-77d8-4f1...|       坂本龍一|                null|Improvisation (Li...|2009-05-04 13:33:28|
|user_000001|2009-05-04T13:23:45Z|a7f7df4a-77d8-4f1...|       坂本龍一|                null|Glacier (Live_200...|2009-05-04 13:23:45|
|user_000001|2009-05-04T13:19:22Z|a7f7df4a-77d8-4f1...|       坂本龍一|                null|Parolibre (Live_2...|2009-05-04 13:19:22|
|user_000001|2009-05-04T13:13:38Z|a7f7df4a-77d8-4f1...|       坂本龍一|                null|Bibo No Aozora (L...|2009-05-04 13:13:38|
|user_000001|2009-05-04T13:06:09Z|a7f7df4a-77d8-4f1...|       坂本龍一|f7c1f8f8-b935-45e...|The Last Emperor ...|2009-05-04 13:06:09|
|user_000001|2009-05-04T13:00:48Z|a7f7df4a-77d8-4f1...|       坂本龍一|                null|Happyend (Live_20...|2009-05-04 13:00:48|
|user_000001|2009-05-04T12:55:34Z|a7f7df4a-77d8-4f1...|       坂本龍一|475d4e50-cebb-4cd...|Tibetan Dance (Ve...|2009-05-04 12:55:34|
|user_000001|2009-05-04T12:51:26Z|a7f7df4a-77d8-4f1...|       坂本龍一|                null|Behind The Mask (...|2009-05-04 12:51:26|
|user_000001|2009-05-03T15:48:25Z|ba2f4f3b-0293-4bc...|     Underworld|dc394163-2b78-4b5...|Boy, Boy, Boy (Sw...|2009-05-03 15:48:25|
|user_000001|2009-05-03T15:37:56Z|ba2f4f3b-0293-4bc...|     Underworld|340d9a0b-9a43-409...|Crocodile (Innerv...|2009-05-03 15:37:56|
|user_000001|2009-05-03T15:14:53Z|a16e47f5-aa54-47f...|Ennio Morricone|0b04407b-f517-4e0...|Ninna Nanna In Bl...|2009-05-03 15:14:53|
|user_000001|2009-05-03T15:10:18Z|463a94f1-2713-40b...|        Minus 8|4e78efc4-e545-47a...|      Elysian Fields|2009-05-03 15:10:18|
|user_000001|2009-05-03T15:04:31Z|ad0811ea-e213-451...|      Beanfield|fb51d2c4-cc69-412...|  Planetary Deadlock|2009-05-03 15:04:31|
|user_000001|2009-05-03T14:56:25Z|309e2dfc-678e-4d0...|       Dj Linus|4277434f-e3c2-41a...|Good Morning Love...|2009-05-03 14:56:25|
+-----------+--------------------+--------------------+---------------+--------------------+--------------------+-------------------+
only showing top 20 rows

In [27]:
(
    df_user_facts_formatted_date
    .where(col("fact_timestamp").isNull())
    .show(truncate=False)
)

+-------+---------+--------+----------+-------+---------+--------------+
|user_id|fact_date|group_id|group_name|song_id|song_name|fact_timestamp|
+-------+---------+--------+----------+-------+---------+--------------+
+-------+---------+--------+----------+-------+---------+--------------+

#### Conteo de hechos por usuario

In [32]:
(
    df_user_facts_formatted_date
    .groupBy("user_id")
    .agg(count("user_id").alias("total_facts"))
    .select("user_id","total_facts")
    .show()
)

+-----------+-----------+
|    user_id|total_facts|
+-----------+-----------+
|user_000064|      34028|
|user_000066|       1109|
|user_000149|      71734|
|user_000272|        100|
|user_000468|      13971|
|user_000482|      46291|
|user_000577|      80313|
|user_000688|       5846|
|user_000803|      22006|
|user_000832|      11874|
|user_000878|      27344|
|user_000890|      16696|
|user_000922|       3180|
|user_000098|        300|
|user_000113|      21896|
|user_000219|      27377|
|user_000424|       3700|
|user_000613|       5296|
|user_000708|      11457|
|user_000709|      93498|
+-----------+-----------+
only showing top 20 rows

#### Conteno de null por nombres de cancion
##### Existe un hecho con un nombre de cancion a null
##### Como el nombre del grupo de la cancion si se mantiene se mantiene el registro por si puede ser util para el cliente

In [34]:
(
    df_user_facts_formatted_date
    .where(col("song_name").isNull())
    .show(truncate=False)
)

+-----------+--------------------+--------+------------------------------------------------------+-------+---------+-------------------+
|user_id    |fact_date           |group_id|group_name                                            |song_id|song_name|fact_timestamp     |
+-----------+--------------------+--------+------------------------------------------------------+-------+---------+-------------------+
|user_000585|2009-01-14T03:56:02Z|null    |Silence'' Foundation Laboratory (Silentpoets)		Outline|null   |null     |2009-01-14 03:56:02|
+-----------+--------------------+--------+------------------------------------------------------+-------+---------+-------------------+

#### Conteno de null por grupos
##### Todos los grupos vienen bien informados por lo que no es necesario hacer nada

In [35]:
(
    df_user_facts_formatted_date
    .where(col("group_name").isNull())
    .show(truncate=False)
)

+-------+---------+--------+----------+-------+---------+--------------+
|user_id|fact_date|group_id|group_name|song_id|song_name|fact_timestamp|
+-------+---------+--------+----------+-------+---------+--------------+
+-------+---------+--------+----------+-------+---------+--------------+

### Como se ha visto, hay usuarios sin valores utiles, 8 concretamente
#### Estos usuarios serán eliminados del dataset de users por lo que es conveniente eliminar sus hechos, ya que no aportan valor
#### Generar una lista a partir del dataframes con usuarios que no tienen valores en la dimension para despues filtrar

In [14]:
user_list_withtout_values = (
    df_users_without_values
    .select("#id")
    .collect()
)
list_users_to_clean = []
for row in user_list_withtout_values:
   list_users_to_clean.append((row.asDict()["#id"]))
list_users_to_clean

['user_000030', 'user_000129', 'user_000174', 'user_000353', 'user_000588', 'user_000734', 'user_000806', 'user_000976']

In [15]:
df_filter_users_not_valid = (
    df_user_facts_formatted_date
    .where(~col("user_id").isin(list_users_to_clean))
)

In [19]:
df_facts_user_curated = (
    df_filter_users_not_valid
    .withColumn("year",year(col("fact_timestamp")))
    .withColumn("month",month(col("fact_timestamp")))
)

In [16]:
count_bef_filter = df_user_facts_formatted_date.count()
count_aft_filter = df_filter_users_not_valid.count()
print(f"Antes del filtro {count_bef_filter} Despues del filtro {count_aft_filter}")

Antes del filtro 19150868 Despues del filtro 18994495

### Dimension de usuarios

### Dimension de paises

### Hechos de usuarios